{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_event_details'|trans({'%id%': event.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_event_details'|trans({'%id%': event.id|default('')}) }}</h1>
    <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'action_edit'|trans }}">
        {{ 'action_edit'|trans }}
    </a>
    {% if event is defined and event|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ event.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  event.title }}</dd>
            <dt>{{ 'label_place'|trans }}</dt>
            <dd>{{  event.place }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ event.date|date('d/m/Y - H:i') }}</dd>

        </dl>
        <p>
            <a href="{{ url('event_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}