{% extends 'base.html.twig' %}

{% block title %}
    View record
{% endblock %}

{% block body %}
    <h1>{{'label_records'|trans}}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{'label_title'|trans}}</dt>
            <dd>{{ item.title }}</dd>
            <dt>{{'label_content'|trans}}</dt>
            <dd>{{ item.content }}</dd>
            <dt>{{'label_tags'|trans}}</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
    <a href="{{ url('record_index') }}">{{ 'action_comeback'|trans }}</a>
{% endblock %}