{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_contact_edit'|trans({'%id%': contact.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_contact_edit'|trans({'%id%': contact.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('contact_edit', {id: contact.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('contact_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}