{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_contact_list'|trans }}
{% endblock %}

{% block body %}
    <div class="title_of_page">
        <h1>{{ 'title_contact_list'|trans }}</h1>
    </div>
    <a href="{{ url('contact_create') }}" title="{{ 'action_create'|trans }}">
        <img src="{{ asset('add.svg') }}" alt="create_action" class="add_icon">
    </a>
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'label_name'|trans, 'contact.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label_surname'|trans, 'contact.surname') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label_phone'|trans, 'contact.phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label_address'|trans, 'contact.address') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
                <th>{{ 'action_delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.address }}</td>
                    <td>
                        <a href="{{ url('contact_show', {id: contact.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('contact_delete', {id: contact.id}) }}" title="{{ 'action_delete'|trans }}">
                            <img src="{{ asset('delete.svg') }}" alt="DELETE_action" class="delete_icon">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}